body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

header {
    background-color: #000000;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    height: 50px;
    margin-right: 1rem;
}

header h1 {
    margin: 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.banner {
    background: url('banner.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 5rem 0;
}

.banner button {
    padding: 1rem 2rem;
    background-color: #080707;
    color: white;
    border: none;
    cursor: pointer;
}

section {
    padding: 2rem;
}

.services-container {
    display: flex;
    justify-content: space-around;
}

.service-card {
    background-color: #f4f4f4;
    padding: 1rem;
    width: 30%;
    text-align: center;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea, form button {
    margin-bottom: 1rem;
}

footer {
    background-color: #060505;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.quote-button {
    background-color: #000000; /* Blue color for the button */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove default underline from anchor tag */
}

.quote-button:hover {
    background-color: #1f1f1f; /* Darker blue color on hover */
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 80%;
        max-width: 400px;
    }

    .header-container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .service-card {
        width: 100%;
    }
}
